@font-face {
  font-family: Roboto;
  src: url(./font/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  height: 100vh;
  background: rgb(61, 129, 185);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.title {
  margin-top: -8rem;
  color: #fff;
  font-size: 3.2rem;
  cursor: pointer;
}

.title:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 34rem;
  height: 48rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 1.6rem 0 #b5b5b5, 1.2rem 2.8rem 1.2rem 0 rgba(0, 0, 0, 0.25);
}

.display-container {
  padding: 1.2rem 0.8rem;
  margin: 0.8rem 0 3.2rem;
  width: 29.6rem;
  height: 6.4rem;
  background:linear-gradient(rgb(193, 230, 45), rgb(163, 198, 22));
  color: rgb(66, 90, 34);
  border-radius: 0.8rem;
  border: 0.2rem solid #fff;
  outline: 0.4rem solid #777;
}

.display {
  text-align: right;
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.first-row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.back-space {
  margin-right: 0.8rem;
  font-size: 24px;
  background:forestgreen;
  color: #fff;
}

.all-clear {
  margin-right: 2.4rem;
  font-size: 2.4rem;
  background: orangered;
  color: #fff;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.8rem 0.4rem;
  border: none;
  width: 6.4rem;
  height: 5.2rem;
  border-radius: 0.8rem;
  background: #c7c7c7;
  color: #111;
  font-size: 3.2rem;
  font-weight: 600;
  box-shadow: inset -0.4rem -0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}

button:hover {
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

.operator {
  background:skyblue;
}

.equals {
  background:royalblue;
  color: #fff;
}

.white-world {
  background: #fff;
  color: #fff;
}

.matrix-display {
  background: #111;
  color: rgb(0, 199, 0);
}

.small-font {
  margin-top: 0.4rem;
  font-size: 2.4rem; 
}

.blue-pill {
  background: mediumblue;
}

.footer {
  display: flex;
  justify-content: center;
}

a {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}