* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: steelblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 480px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 12px;
}

.display-container {
  padding: 12px;
  margin: 8px 0 32px;
  width: 296px;
  height: 64px;
  background-color: aquamarine;
  color: #222;
  border-radius: 8px;
  border: 4px solid #cacaca;
}

.display {
  text-align: right;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
}

.first-row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.back-space {
  margin-right: 8px;
  font-size: 24px;
  background-color:forestgreen;
  color: #fff;
}

.all-clear {
  margin-right: 24px;
  font-size: 24px;
  background-color: orangered;
  color: #fff;
}

button {
  margin: 8px 4px;
  border: none;
  width: 64px;
  height: 52px;
  border-radius: 8px;
  background-color: #cacaca;
  color: #111;
  font-size: 32px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

.operator {
  background-color:skyblue;
}

.equals {
  background-color:royalblue;
  color: white;
}